@inherits Inception.Web.Infrastructure.MvcViewPage.WebViewPage<Inception.Web.Models.BasePageModel>
@using System.Web.Optimization
@using Inception.Web.Infrastructure.Extensions
<!DOCTYPE html>
<html lang="en" data-ng-app="@(ViewBag.NgApp != null ? ViewBag.NgApp : "")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@Html.Raw(Model.Title)</title>
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">*@
    <!-- Optional theme -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">*@
    
    @Styles.Render("~/Content/components/angular-ui-select/dist/select.css")
    @Styles.Render("~/Content/components/angularjs-toaster/toaster.css")
    @Styles.Render("~/Content/components/angular-material/angular-material.css")
    @Styles.Render("~/Content/style/css/themes.css")
    @RenderSection("css", required: false)
    <base href="/">
</head>
<body>
    <div layout="column" >
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar>
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content flex role="navigation" class="md-default-theme">
                    <md-list ng-controller="SideNavController as vm">
                        <md-list-item ng-repeat="link in vm.links" ng-click="vm.goToPage(link, $event)">
                            <p> {{ link.text }} </p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex>
                @RenderBody()
            </md-content>
        </section>
    </div>    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @Scripts.Render("~/Content/components/jquery/dist/jquery.js")
    @Scripts.Render("~/Content/components/angular/angular.js")
    @Scripts.Render("~/Content/components/angular-aria/angular-aria.js")
    @Scripts.Render("~/Content/components/angular-material/angular-material.js")
    @Scripts.Render("~/Content/Components/angular-route/angular-route.js")
    @Scripts.Render("~/Content/components/angular-bootstrap/ui-bootstrap-tpls.js")
    @Scripts.Render("~/Content/components/angular-sanitize/angular-sanitize.js")
    @Scripts.Render("~/Content/components/angular-cookies/angular-cookies.js")
    @Scripts.Render("~/Content/components/angular-animate/angular-animate.min.js")
    @Scripts.Render("~/Content/components/moment/moment.js")
    @Scripts.Render("~/Content/components/angularjs-toaster/toaster.js")
    @Scripts.Render("~/Content/components/angular-ui-select/dist/select.js")
    @Scripts.Render("~/bundles/esqtv-common")

    <script type="text/javascript">
        angular.module('esqtv.common').value('esqtvSettings', {
            'cms': 'http://localhost:1246/',
            'api': 'http://staging.g4tv.com/cmsapi/',
            'preview': 'http://staging.g4tv.com/preview'
        });
        @RenderSection("jsCode", required: false)
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
